<footer>
    <div class="container">
        <div class="d-flex flex-column flex-lg-row justify-content-between mb-5">
            <a href="/" class="logo mb-5 mb-lg-0">
                <%-include('../svgs/logo.ejs') %>
            </a>
            <div class="social-links">
                <a href="#">
                    <img src="assets/imgs/footer/facebook.svg" alt="facebook" class="img-fluid">
                </a>
                <a href="#">
                    <img src="assets/imgs/footer/instagram.svg" alt="instagram" class="img-fluid">
                </a>
                <a href="#">
                    <img src="assets/imgs/footer/twitter.svg" alt="twitter" class="img-fluid">
                </a>
                <a href="#">
                    <img src="assets/imgs/footer/linkedin.svg" alt="linkedin" class="img-fluid">
                </a>
            </div>
        </div>
        <p class="text-center copyrights">&copy; Copyrights reserved 2022</p>
    </div>
</footer>
