<header>
    <div class="header__bg"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-5 order-1 order-lg-0">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="/assets/imgs/home/header-slide-1.png" alt="header-slide-1" class="w-100 img-fluid">
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/imgs/home/header-slide-2.png" alt="header-slide-2" class="w-100 img-fluid">
                        </div>
                        <div class="swiper-slide">
                            <img src="/assets/imgs/home/header-slide-3.png" alt="header-slide-3" class="w-100 img-fluid">
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-number">
                        <p><span class="current-slide-no">00</span> / <span class="total-slides-no">00</span></p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-7 order-0 order-lg-1 d-flex flex-column justify-content-center mb-lg-0 mb-5">
                <h1 class="mb-4 mb-lg-5">
                    Your <span class="text-primary">SMART</span> world <br> is just a Click away
                </h1>
                <p class="mb-4 mb-lg-5">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed</p>
                <div class="d-flex flex-column flex-sm-row">
                    <a href="#products" class="btn btn-primary px-5 me-sm-5 mb-sm-0 mb-3 inner-link">See Products</a>
                    <a href="#contact" class="btn btn-outline-primary px-5 inner-link">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</header>
