<section class="scroll-section" id="testimonials">
    <div class="container">
        <h2 class="section-heading">Testimonials</h2>
        <p class="section-sub-heading">What clients say about us</p>
        <div class="swiper-container testimonials-swiper mb-5">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="assets/imgs/testimonials/testimonial-1.png" alt="testimonial 1" class="img-fluid testimonial-img">
                        <h4 class="testimonial-title">Harold Fensh</h4>
                        <p class="testimonial-text">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit minus impedit fuga reiciendis dicta molestiae deleniti quos voluptas. Accusantium a tempora amet quod, nulla ea fugit voluptatum deleniti eaque sequi."</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="assets/imgs/testimonials/testimonial-2.png" alt="testimonial 2" class="img-fluid testimonial-img">
                        <h4 class="testimonial-title">Mr. Rees</h4>
                        <p class="testimonial-text">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit minus impedit fuga reiciendis dicta molestiae deleniti quos voluptas. Accusantium a tempora amet quod, nulla ea fugit voluptatum deleniti eaque sequi."</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="assets/imgs/testimonials/testimonial-3.png" alt="testimonial 3" class="img-fluid testimonial-img">
                        <h4 class="testimonial-title">Mrs. Shaw</h4>
                        <p class="testimonial-text">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit minus impedit fuga reiciendis dicta molestiae deleniti quos voluptas. Accusantium a tempora amet quod, nulla ea fugit voluptatum deleniti eaque sequi."</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="assets/imgs/testimonials/testimonial-1.png" alt="testimonial 1" class="img-fluid testimonial-img">
                        <h4 class="testimonial-title">Harold Fensh</h4>
                        <p class="testimonial-text">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit minus impedit fuga reiciendis dicta molestiae deleniti quos voluptas. Accusantium a tempora amet quod, nulla ea fugit voluptatum deleniti eaque sequi."</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="assets/imgs/testimonials/testimonial-2.png" alt="testimonial 2" class="img-fluid testimonial-img">
                        <h4 class="testimonial-title">Mr. Rees</h4>
                        <p class="testimonial-text">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit minus impedit fuga reiciendis dicta molestiae deleniti quos voluptas. Accusantium a tempora amet quod, nulla ea fugit voluptatum deleniti eaque sequi."</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="assets/imgs/testimonials/testimonial-3.png" alt="testimonial 3" class="img-fluid testimonial-img">
                        <h4 class="testimonial-title">Mrs. Shaw</h4>
                        <p class="testimonial-text">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit minus impedit fuga reiciendis dicta molestiae deleniti quos voluptas. Accusantium a tempora amet quod, nulla ea fugit voluptatum deleniti eaque sequi."</p>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>