.btn {
  font-weight: $font-weight-normal;
  border-radius: 0;
}

.btn-primary {
  border-color: $primary !important;
  color: $white;
  border-width: 2px;
  box-shadow: 0 0 0 rgba($color: #000000, $alpha: 0) !important;
  &:hover,
  &:focus {
    background-color: transparent;
    color: $primary !important;
  }
}

.btn-outline-primary {
  border-color: $primary !important;
  background-color: transparent;
  color: $text-dark;
  border-width: 2px;
  box-shadow: 0 0 0 rgba($color: #000000, $alpha: 0) !important;
  &:hover,
  &:focus {
    background-color: $primary;
    color: $white !important;
  }
}
