.navbar {
  padding: 15px 0;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: $white;
  z-index: 50;
  transition: background-color 0.2s ease, padding 0.2s ease;
  @include media-sm {
    padding: 22px 0;
  }
  .logo {
    svg {
      width: 170px;
      @include media-sm {
        width: 250px;
      }
    }
    path {
      fill: $black;
      transition: fill 0.2s ease;
      @include media-lg {
        fill: $white;
      }
    }
  }
  .navbar__menu {
    align-items: center;
    margin-left: auto;
    margin-bottom: 0;
    display: none;
    @include media-lg {
      display: flex;
    }
  }
  .navbar__item {
    margin-right: 30px;
    @include media-xxl {
      margin-right: 55px;
    }
  }
  .navbar__link {
    color: $text-dark;
    font-weight: $font-weight-bold;
    transition: color 0.2s ease;
    font-size: 16px;
    &.active,
    &:hover {
      color: $primary;
    }
    @include media-xxl {
      font-size: 22px;
    }
  }
  .navbar__btns {
    margin-left: auto;
    display: flex;
    align-items: center;
    @include media-lg {
      margin-left: 0;
    }
    a {
      margin-right: 15px;
      position: relative;
      @include media-xxl {
        margin-right: 20px;
      }
      &:last-of-type {
        margin-right: 0px;
      }
      svg {
        width: 30px;
      }
      path {
        fill: transparent;
        transition: fill 0.2s ease;
      }
      &:hover {
        svg path {
          fill: $black;
        }
      }
    }
    .navbar__cart-number {
      position: absolute;
      top: -12px;
      right: -10px;
      background: $primary;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 25px;
      height: 25px;
      font-size: 15px;
      color: $white;
      @include media-lg {
        top: 0;
      }
    }
    .mobile-menu-trigger {
      display: flex;
      width: 30px;
      margin-left: 10px;
      flex-direction: column;
      align-items: flex-end;
      .bar {
        width: 100%;
        height: 3px;
        border-radius: 5px;
        display: block;
        background-color: $text-dark;
        margin-bottom: 8px;
        transition: transform 0.2s ease;
        &:nth-child(2) {
          width: 50%;
        }
        &:last-of-type {
          width: 80%;
          margin-bottom: 0;
        }
      }
      &.open {
        .bar {
          &:first-of-type {
            transform: translateY(11px) rotate(-45deg);
          }
          &:nth-child(2) {
            transform: scaleX(0);
          }
          &:last-of-type {
            width: 100%;
            transform: translateY(-11px) rotate(45deg);
          }
        }
      }
      @include media-lg {
        display: none;
      }
    }
  }
  &.navbar-scroll {
    box-shadow: 0px 6px 20px rgba($color: #000000, $alpha: 0.16);
    background-color: $white;
    padding: 10px 0;
    @include media-sm {
      padding: 15px 0;
    }
    .logo {
      path {
        fill: $text-dark;
      }
    }
  }
}
