.product-item {
  border-radius: 30px;
  box-shadow: 0 10px 20px rgba($color: #000000, $alpha: 0.16);
  padding: 10px;
  @include media-sm {
    padding: 20px;
  }
  .product-img {
    width: 80%;
    margin: auto;
    display: block;
    margin-bottom: 40px;
  }
  .product-price {
    color: $primary;
    font-size: 30px;
    @include media-lg {
      font-size: 35px;
    }
  }
  .product-add-to-cart {
    display: block;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}

.new-products-swiper {
  padding: 30px 0;
  overflow: visible;
  @include media-lg {
    overflow: hidden;
  }
}

.new-products-swiper-controls {
  position: relative;
  .swiper-button-next {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    &::after {
      color: $primary;
      font-size: 35px;
    }
  }
  .swiper-button-prev {
    left: auto;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    &::after {
      color: $primary;
      font-size: 35px;
    }
  }
}
