a,
.btn {
  text-decoration: none;
  font-size: 22px;
  font-weight: $font-weight-normal;
  display: inline-block;
  @include media-lg {
    font-size: 24px;
  }
  @include media-xl {
    font-size: 26px;
  }
}

ul {
  list-style-type: none;
  padding-left: 0;
}

h1 {
  font-size: 28px;
  font-weight: $font-weight-bold;
  @include media-sm {
    font-size: 33px;
  }
  @include media-lg {
    font-size: 48px;
  }
  @include media-xl {
    font-size: 60px;
  }
}

h2 {
  font-size: 28px;
  font-weight: $font-weight-bold;
  @include media-sm {
    font-size: 28px;
  }
  @include media-lg {
    font-size: 38px;
  }
  @include media-xl {
    font-size: 50px;
  }
}

h3 {
  font-size: 24px;
  font-weight: $font-weight-bold;
  @include media-sm {
    font-size: 28px;
  }
  @include media-lg {
    font-size: 30px;
  }
}

h4 {
  font-size: 18px;
  font-weight: $font-weight-bold;
  @include media-lg {
    font-size: 22px;
  }
}

p {
  line-height: 1.5;
  font-size: 18px;
  font-weight: $font-weight-light;
  @include media-lg {
    font-size: 22px;
  }
  @include media-xl {
    font-size: 28px;
  }
}
