<div class="auth my-5">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="login-trigger" data-bs-toggle="tab" data-bs-target="#login-tab" type="button" role="tab" aria-controls="login" aria-selected="true">Login</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="signup-trigger" data-bs-toggle="tab" data-bs-target="#signup-tab" type="button" role="tab" aria-controls="signup" aria-selected="false">Signup</button>
        </li>
    </ul>
    
    <div class="tab-content">
        <div class="tab-pane fade show active" id="login-tab" role="tabpanel" aria-labelledby="login-trigger">
            <form action="/users/login" method="POST" id="login-form">
                <div class="input-group">
                    <label for="loginUsername">Username</label>
                    <input type="text" name="loginUsername" id="loginUsername" class="form-control" required>
                </div>
                <div class="input-group">
                    <label for="loginPassword">Password</label>
                    <input type="password" name="loginPassword" id="loginPassword" class="form-control" required>
                </div>
                <div class="text-center mt-5">
                    <button type="submit" id="loginBtn" class="btn btn-primary px-5">Login</a>
                </div>
            </form>
        </div>
        <div class="tab-pane fade" id="signup-tab" role="tabpanel" aria-labelledby="signup-trigger">
            <form id="signup-form">
                <div class="input-group">
                    <label for="signupFirstname">First Name</label>
                    <input type="text" name="signupFirstname" id="signupFirstname" class="form-control" required>
                </div>
                <div class="input-group">
                    <label for="signupLastname">Last Name</label>
                    <input type="text" name="signupLastname" id="signupLastname" class="form-control" required>
                </div>
                <div class="input-group">
                    <label for="signupUsername">Username</label>
                    <input type="text" name="signupUsername" id="signupUsername" class="form-control" required>
                </div>
                <div class="input-group">
                    <label for="signupPassword">Password</label>
                    <input type="password" name="signupPassword" id="signupPassword" class="form-control" required>
                </div>
                <div class="input-group">
                    <label for="signupConfirmPassword">Confirm Password</label>
                    <input type="password" name="signupConfirmPassword" id="signupConfirmPassword" class="form-control" required>
                </div>
                
                <div class="text-center mt-5">
                    <button type="submit" id="signupBtn" class="btn btn-primary px-5">Sign Up</a>
                </div>
            </form>
        </div>
    </div>
</div>