<section class="cart-page mt-0">
    <h2 class="section-heading mb-5">Cart</h2>
        <div class="cart-items-wrapper w-100">
            <p class="cart-empty-text text-center d-none">The cart has no items yet</p>
        </div>
        <div class="cart-total-wrapper">
            <p>Total</p>
            <p class="cart-total-price"></p>
        </div>
        <div class="row gx-0 w-100 cart-btns">
            <div class="col-sm-6 pe-sm-2 mb-3 mb-sm-0">
                <a href="/" class="btn btn-primary small w-100">Continue Shoping</a>
            </div>
            <div class="col-sm-6 ps-sm-2">
                <a href="/checkout" id="checkoutBtn" class="btn btn-outline-primary small w-100">Checkout</a>
            </div>
        </div>
    
</section>